<!DOCTYPE html>
<html>

<head>
    <Title>Expenses</Title>
    <nav>
        <ul>
            {% if user.is_authenticated is False %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% else %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'list_accounts' %}">Account List</a></li>
            <li><a href="{% url 'create_account' %}">Create Account</a></li>
            <li><a href="{% url 'list_categories' %}">Category List</a></li>
            <li><a href="{% url 'create_category' %}">Create Category</a></li>
            <li><a href="{% url 'home' %}">Receipt List</a></li>
            <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
            {% endif %}
        </ul>
    </nav>
</head>

<body>
    {% block content %}
    {% endblock content %}
</body>

</html>